@charset "utf-8";


/* ----------------------------------

Name: style.css
Author: Fourtabs
Website: https://www.fourtabs.com
Exclusively available here: https://themeforest.net/user/fourtabsthemes

------------------------------------- */







/*====================================================


	Table of Contents
	
	

		01. Generel Styles 

			+ Generate Google Fonts
			+ Essential Styles
			+ Buttons
			+ Floats
			+ Overlays
			+ Row Fix
			+ Section Styles
			+ Separators

		02. Typography

			+ Font Classes
			+ Font Positions
			+ Font Weight
			+ Font Transformation
			+ Font Colors
			+ Font Sizes


		03. Loading Screen

			+ Loader Logo
			+ Loader Animation
			+ After Loading

		04. Backgrounds

		05. Navigations

			+ General
			+ Bootstrap Fix
			+ Dropdown

		06. Homepage

			+ Homepage Headers
			+ Logo Styles

		07. Slider

		08. About

		09. Services

		10. Portfolio

		11. Pricing Table

		12. Blog
		
			+ Blog Post
			+ Blog Sidebar
			+ Comments

		13. Map

		14. Contact

		15. Footer
		
		16. Shop
			
			+ Cart
			+ Products

		16. Responsive
		
			Resolution Under 768px
			Resolution Under 530px
			Resolution Under 450px
			Resolution Under 400px
			Resolution Under 375px


	
====================================================*/







/*======================

	01. Generel Styles 

========================*/


/* Generate Google Fonts 
-------------------------*/



	
	/* Lato */
	@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
	
	/* Raleway */
	@import url(https://fonts.googleapis.com/css?family=Raleway:800,700,600,400,300,200,100);
	
	/* Roborto */
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

	
	
	
/* Essential Styles
-------------------------*/




	*{
		margin: 0%;
		padding: 0%;
		
	}

	::selection {
		background-color: #ececec;
		color: #191919;
	}
	
	
	html, body {
		width:100%;
		padding:0;
		margin-left:0;
		margin-right:0;
		font-family: 'Raleway', sans-serif;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		font-size: 1em;
	}

	body{
		overflow-x: hidden; 
	}
	
	
	.content-wrapper{
		margin: 0px auto;
		padding: 0px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
		width: 100%;
		height: auto;
		text-align: center;
		float: none;
	}
	

	img {
	    -moz-user-select: none; 
	    -webkit-user-select: none;
	    -ms-user-select: none; 
	    user-select: none; 
	    -webkit-user-drag: none;
	    user-drag: none;
	}
	
	a{
		color: #191919;
		text-decoration:none;
		outline:none;

	}

	a:hover,
	a:active,
	a:focus
	{
		text-decoration:none;
		outline:none;
		color: #505050;
	
	}
	
	a i:hover,
	a i:active,
	a i:focus
	{
		text-decoration:none;
		outline:none;
		color: #505050;
	}

	

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		font-family: 'Raleway', sans-serif;
		font-weight:100;
		margin-bottom: 0px;
	}

	p{
		margin:0 0 5px;
		font-family: 'Lato', sans-serif;
	}

	.clear{
		clear:both;
	}

	ol, ul{
		list-style:none;
		padding:0;
	}
	
	.no-line-height{
		line-height:0 !important;
	}

	.no-padding{
		padding:0 !important;
	}
	
	.no-padding-top{
		padding-top:0 !important;
	}
	
	.no-padding-bottom{
		padding-bottom:0 !important;
	}
	
	.auto-margin{
		margin: auto !important;
	}

	.no-margin{
		margin:0 !important;
	}
	
	.no-margin-top{
		margin-top:0 !important;
	}
	
	.no-margin-bottom{
		margin-bottom:0 !important;
	}
	
	.no-margin-left{
		margin-left:0 !important;
	}
	
	.no-margin-right{
		margin-right:0 !important;
	}
	
	.no-border{
		border: none !important;
		border-style: none !important;
	}
	
	iframe{
		width: 100%;
		height: 500px;
	}
	
	
	
	
/* Buttons
-------------------------*/




	.button{
		z-index: 0;
		background: #191919;
		cursor: pointer;
		color: #fff;
		display: block;
		width: 150px;
		height: 50px;
		line-height: 50px;
		margin-top: 20px;
		font-weight: 900;
		letter-spacing: 3px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-size: 11px;
		word-spacing: 1px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}

	
	
	
/* Floats
-------------------------*/

	
	.float-l{
		float: left !important;
	}
	
	.float-r{
		float: right !important;
	}


	
	
/* Overlays
-------------------------*/



	
	.pattern-black:after,
	.pattern-white:after{
		content:'';
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		position: absolute;
		z-index: -1;
	}
	
	.pattern-black:after{
		
		background: url(../img/pattern-1.png) repeat;
	}
	
	.pattern-white:after{
		
		background: url(../img/pattern-2.png) repeat;
	}
	



/* Row Fix
-------------------------*/

	
	.row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }
	

	
	
/* Section Styles

-------------------------*/

	
	.section-content{
		padding: 0px 10% 0px 10%;
		z-index: 9999;
	}
	
	
	.section-content-full{
		padding: 0px 0% 0px 0%;
		z-index: 9999;
	}
	
	
	.sections{
		width: 100%;
		z-index:1;
	}


	
	
	
	
/* Separators
----------------------------*/	


	
	.separator-small { 
		width: 40px;
		height: 1px;
		background: #505050 none repeat;
		margin-top: 20px;
		margin-bottom: 20px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.separator-small-right { 
		width: 100%;
		height: 1px;
		background: #e5e5e5 none repeat;
		margin-top: 20px;
		margin-bottom: 20px;
		float: right;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.separator-center { 
		width: 40px;
		height: 1px;
		background: #505050 none repeat;
		margin: 20px auto;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	

	
	
	
/*======================

	02. Typography

========================*/




/* Font Classes
-------------------------*/




	.raleway{
		font-family: 'Raleway', sans-serif;
		
	}

	.lato{
		font-family: 'Lato', sans-serif;
	}
	
	.numbers{
		font-family: 'Roboto', sans-serif;
	}
	



/* Font Positions
-------------------------*/




	.t-left{
		text-align:left !important;
	}

	.t-center{
		text-align:center !important;
	}

	.t-right{
		text-align:right !important;
	}
	
	
	
	
/* Font Weight
-------------------------*/




	.ultrabold{
		font-weight: 900;
	}

	.extrabold{
		font-weight: 800;
	}

	.bold{
		font-weight: 700;
	}

	.semibold{
		font-weight: 600;
	}

	.normal{
		font-weight: 400;
	}
	
	.light{
		font-weight: 300;
	}

	.lighter{
		font-weight: 100;
	}
	
	
	
	
/* Font Transformation
-------------------------*/




	.italic{
		font-style: italic;
	}

	.uppercase{
		text-transform: uppercase;
	}
	
	.lowercase{
		text-transform: lowercase;
	}
	
	
	
	

/* Font Colors
-------------------------*/




	.dark{
		color: #191919;
	}

	.white{
		color: #e5e5e5;
	}

	.gray1{
		color: #777777;
	}

	.gray2{
		color: #505050;
	}

	.colored{
		color: #ffd700;
	}
	
	.red{
		color: red;
	}
	
	.green{
		color: green;
	}
	
	
	
	
	
/* Font Sizes
-------------------------*/

	.f-smaller{
		font-size: 11px;
		
	}
	
	.f-small{
		font-size: 13px;
		
	}
	
	.f-normal{
		font-size: 18px;
		
	}
	
	.f-semi-expanded{
		font-size: 1.5em;
		
	}
	
	.f-medium{
		font-size: 32px;
		
	}
	
	.f-expanded{
		font-size: 2.5em;
		
	}
	
	.f-big{
		font-size: 45px;
		
	}
	
	.f-large{
		font-size: 3.5em;
		
	}
	
	.f-extra-expanded{
		font-size: 6em;
		
	}
	
	
	
	
/*======================

	03. Loading Screen

========================*/	





	#loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		overflow: hidden;
	}
	
	
	#loader {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 100%;
		border: 0px solid transparent;
		border-top-color: #fff;
		-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
		animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		z-index: 1001;
		overflow: hidden;
	}
	
	
	
	
/* Loader Logo
-------------------------*/




	.loader-img img{
		display: block;
		position: absolute;
		left: 47.5%;
		bottom: 48%;
		width: 50px;
		height: auto;
		z-index: 1002;
	}
	
	
	
	
/* Loader Animation
-------------------------*/




    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 100%;
        border: 2px solid transparent;
        border-top-color: #fff;
		overflow: hidden;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 100%;
        border: 0px solid transparent;
        border-top-color: #fff;
		overflow: hidden;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 50%;
        height: 100%;
		overflow: hidden;
		background-color: #fff;
		background: r#fff;
		color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

	
	
	
/* After Loading
-------------------------*/




    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
        transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
        transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
        transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
        transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.3s 1s ease-out;  
        transition: all 0.3s 1s ease-out;
    }
    
	
	

	
	
	

	
	
	
	
	
/*======================

	04. Backgrounds

========================*/




/* Solid Backgrounds
-------------------------*/




	.white-bg{
		background-color: #fff !important;
	}

	.gray-bg{
		background-color:#505050 !important;
	}

	.dark-bg{
		background-color: #191919 !important;
	}
	
	.colored-bg{
		background-color: #ffd700;
	}
	
	.solid-bg{
		background: #232121;
	}
	
	.solid-bg-light{
		background: #e9e8e8;
	}

	
	
/* Gradient Backgrounds
-------------------------*/


	#gradient,
	.gradient-bg{
		background:-moz-linear-gradient(17% 81% 67deg, #E4A4B8, #86FFF4 90%);
		background:-webkit-gradient(linear, 91% 91%, 20% 0%, from(#B869A4), to(#6DC7A5));
		width: 100%;
		background-size: cover;
		display: block;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		z-index: 1;
	}
	
	
	
	
	
/* Video Backgrounds
-------------------------*/	
	
	#video{
		width: 100%;
		background-size: cover;
		display: block;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		z-index: 1;
	}
	
	
	
	
	
/* Image Backgrounds
-------------------------*/
	
	
	
	
	.image-bg{
		background: url(../img/bg-01.jpg);
		height: 100vh;
	}
	
	.image-bg-2{
		background: url(../img/bg-02.jpg);
	}
	
	.image-bg-3{
		background: url(../img/bg-03.jpg);
		
	}
	
	.image-bg-4{
		background: url(../img/bg-04.jpg);
		
	}
	
	.image-bg-5{
		background: url(../img/bg-05.jpg);
		
	}
	
	.image-bg-6{
		background: url(../img/bg-06.jpg);
		
	}
	
	.image-bg, 
	.image-bg-2, 
	.image-bg-3,
	.image-bg-4,
	.image-bg-5,
	.image-bg-6{
		width: 100%;
		background-size: cover;
		display: block;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		z-index: 1;
	}
	
	
	
	
	
/* Other Backgrounds
-------------------------*/

	.pattern-bg{
		background: url(../img/pattern.jpg);
		position: relative;
		overflow: hidden;
		background-repeat: repeat;
	}

	#demo_canvas{
		z-index: 999;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	
	

	
	
	
	
	
/*======================

	05. Navigations

========================*/



	
	.nav-trigger{
		position: fixed;
		top: 5%;
		left: 3.5%;
		z-index: 1;
	}
	
	.uk-nav ul {
		padding-left: 0px;
	}
	
	ul.uk-nav-sub{
		padding-left: 10px;
	}
	
	.uk-nav-sub li a{
		color: #787878;
		font-size: 11px;
		letter-spacing: 1px;
	}
	
	.uk-nav-sub li a:hover{
		color: #fff;
	}
	
	.uk-nav-offcanvas>li>a {
		color: #ccc;
		padding: 10px 10px;
	}

	.uk-nav-offcanvas>li>a,
	.uk-nav-sub span{
		letter-spacing: 1px;
	}
	
	.uk-nav-sub li{
		padding-top: 7px;
		padding-bottom: 7px;
	}
	
	.uk-offcanvas-bar{
		width: 30%;
		background: #191919;
		overflow-x: hidden;
		padding: 10px;
	}
	
	.navigation-footer{
		position: relative;
		top: 120px;
		margin-left: 10px;
		margin-bottom: 15px;
	}
	
	.navigation-footer ul li{
		display: inline-block;
	}
	
	.navigation-footer img{
		max-width: 40px;
	}
	
	.navigation-footer ul li i{
		color: #fff;
		margin-right: 20px;
		border-radius: 100%;
		text-align: center;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}

	
	
/*======================

	06. Homepage

========================*/	





/* Homepage Headers
----------------------------*/	



	#header{
		position: relative;
		padding-top: 150px;
		padding-bottom: 150px;
		
	}

	#header-02{
		position: relative;
		padding-top: 150px;
		padding-bottom: 70px;
		
	}

	.big-text-full h2{
		max-width: 800px;
	}
	
	.big-text-full h3{
		max-width: 1000px;
	}
	
	.big-text h2{
		max-width: 600px;
	}
	
	.big-text-fullwid h2{
		max-width: 100%;
	}
	
	.big-text h3{
		max-width: 800px;	
	}
	
	.big-text h2,
	.big-text-full h2,
	.big-text-fullwidth h2{
		letter-spacing: 1px;
		word-spacing: 8px;

	}
	
	.big-text h3,
	.big-text-full h3,
	.big-text-fullwidth h3{
		letter-spacing: 1px;
		word-spacing: 3px;
		line-height: 1.3;

	}
	
	.big-text i{
		font-size: 4em;
		line-height: 0;
	}
	
	.header-img{
		margin-bottom: 20px;		
	}
	
	.header-img img{
		width: 70px;
		border-radius: 100%;
		position: relative;
		right: 15px;

		filter: grayscale(0.1) opacity(0.85);
		-webkit-filter: grayscale(0.1) opacity(0.85);
		-moz-filter: grayscale(0.1) opacity(0.85);
		-o-filter: grayscale(0.1) opacity(0.85);
		-ms-filter: grayscale(0.1) opacity(0.85);
		-webkit-transition: all 0.4s ease-in-out;
	    -moz-transition: all 0.4s ease-in-out;
	    -o-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	    transition: all 0.4s ease-in-out;

	}
	
	.multi-img-square img{
		border-radius: 0px;
		width: 70px;
		margin-right: 20px;
	}
	
	.multi-img img{
		margin-left: 20px;
		width: 55px;
	}
	
	.large-img img{
		margin-left: 20px;
		width: 200px;
	}
	
	.header-img img:hover{
		filter: grayscale(0) opacity(0.95);
		-webkit-filter: grayscale(0) opacity(0.95);
		-moz-filter: grayscale(0) opacity(0.95);
		-o-filter: grayscale(0) opacity(0.95);
		ms-filter: grayscale(0) opacity(0.95);
	}

	.home-11 h2,
	.home-17 h2{
		margin-bottom: 20px;
	}

	
/* Logo Styles
----------------------------*/	

	.logo{
		position: absolute;
		top: 30px;
		left: 50px;
		z-index: 9;
	}

	.logo img{
		display: block;
		max-width: 100px;
		height: auto;
		margin: auto;

	}
	
	.logo-footer{
		max-width: 100px;
		height: auto;
		float: left;
		position: relative;
		bottom: 10px;
	}
	
	.logo-nav{
		float: left;
		max-width: 60px;
		position: relative;
		bottom: 25px;
	}
	
	
	
	
	


	
/*========================

	07. Slider
	
==========================*/
	
	
	
	.rslides,
	.rslides-background{
	    position: relative;
	    list-style: none;
	    overflow: hidden;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	}
	
	.rslides{
		z-index: 0;
	}
	

	.rslides li {
	    -webkit-backface-visibility: hidden;
	    position: absolute;
	    display: none;
	    width: 100%;
		height: 100%;
	    left: 0;
	    top: 0;
		
	}

	.rslides li:first-child {
	    position: relative;
	    display: block;
		float: left;
	 }

	.rslides img {
		display: block;
		float: left;
		width: 100%;
		border: 0;

	}
	
	.rslides_nav{
		background: #191919;
		font-size: 2em;
		width: 50px;
		height: 50px;
		text-align: center;
		opacity: 0.3;
		color: #ccc;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.rslides_nav:hover{
		opacity: 1;
		color: #fff;
	}
	
	.next{
		float: left;
		position: absolute;
		top: 50%;
		right: 0%;
	}
	
	.prev{
		float: left;
		position: absolute;
		top: 50%;
		left: 0%;
	}


	
	
	
/*========================

	08. About
	
==========================*/



	
	#about{
		position: relative;
		padding-bottom: 90px;
		background: #fff;
	}


	.brief{
		margin-top: 0px;
		margin-bottom: 60px;
	}
	
	.brief-04{
		margin-top: 50px;
	}
	
	.brief h3{
		letter-spacing: 2px;
		word-spacing: 5px;
	}
	
	.brief p{
		margin-top: 20px;
		line-height: 1.6;
	}
	
	.brief a{
		border-bottom: 1px solid #777777;
		margin-top: 20px;
	}

	.brief-02 h3{
		letter-spacing: 2px;
		word-spacing: 5px;
	}

	.brief-02 a{
		color: #aaaaaa;
		border-bottom: 1px solid #aaaaaa;

	}
	.brief-02:hover a{
		color: #555555;
		border-bottom: 1px solid #555555;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	

	.proj a{
		margin-left: 20px;
		margin-top: 0px;
	}
	
	.proj img{
		margin-bottom: 20px;
	}


	

	
/*========================

	09. Services

==========================*/


	#services{
		margin-bottom: 150px;
	}
	
	.service{
		margin-bottom: 50px;
	}
	
	
	.service:hover .separator-small{
		width: 70px;
	}
	
	.service .separator-small{
		margin-left: 20px;
	}
	
	.service i{
		font-size: 45px;
		line-height: 0;
	}
	
	.service-02 i{
		font-size: 60px;
	}


	.service h2{
		font-size: 16px;
		word-spacing: 3px;
		letter-spacing: 1px;
		margin-left: 20px;
		margin-top: 11px;
		
	}
	
	.service-02 h2{
		font-size: 24px;
		letter-spacing: 2px;
		margin-left: 0px;
		margin-top: 20px;
		
	}

	.service p{
		line-height: 1.6;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	
	
	
	
	



/*========================

	10. Portfolio

==========================*/




	#portfolio{
		position: relative;
		background: #fff;
		padding-bottom: 150px;
	}

	
	.works-filter,
	.works-filter-full{
		width: 100%;
		font-size: 13px;
		word-spacing: 3px;
		letter-spacing: 1px;
		text-align: center;
		margin-bottom: 50px;
	}
	
	.works-filter li,
	.works-filter-full li{
		margin-right: 30px;
		
	}
	
	.works-filter-full{
		margin-left: 10%;
	}
	

	.work li{
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
		overflow: hidden;
	}
	
	.work{
		overflow: hidden;

	}
	
	.work li:hover{
		opacity: 1;
		
	}
	
	
	.work img{
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
		overflow: hidden;

		filter: grayscale(0.12) opacity(0.9);
		-webkit-filter: grayscale(0.12) opacity(0.9);
		-moz-filter: grayscale(0.12) opacity(0.9);
		-o-filter: grayscale(0.12) opacity(0.9);
		-ms-filter: grayscale(0.12) opacity(0.9);
		-webkit-transition: all 0.4s ease-in-out;
	    -moz-transition: all 0.4s ease-in-out;
	    -o-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	    transition: all 0.4s ease-in-out;
	}
	
	
	.work .hover{
		background: url(../img/pattern-20.png) repeat;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 0;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	
	.work .hover p{
		position: absolute;
		top: 50%;
		left: 50%;
		letter-spacing: 3px;
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}
	
	.gutter .hover p{
		position: absolute;
		top: 50%;
		left: 51%;
		letter-spacing: 3px;
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

	
	.work:hover .hover{
		opacity: 1;
	}
	
	.work:hover img{
		-o-transform: scale(1.15);
		-moz-transform: scale(1.15);
		-webkit-transform: scale(1.15);
		transform: scale(1.15);

		filter: grayscale(0) opacity(1);
		-webkit-filter: grayscale(0) opacity(1);
		-moz-filter: grayscale(0) opacity(1);
		-o-filter: grayscale(0) opacity(1);
		ms-filter: grayscale(0) opacity(1);
	}


	
	.hover .button{
		margin: auto;
	}

	.gutter{
		padding: 0px 0px 20px 20px;
	}
	
	.gutter-container{
		margin-right: 20px;
	}
	
	.gutter:hover img{
		-o-transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	
	.uk-subnav > * > :focus, .uk-subnav > * > :hover{
		color: #000;
	}
	

/*========================

	11. Pricing Table

==========================*/
	
	
	#pricing{
		padding-bottom: 150px;
	}
	
	.price-table{
		border: 1px solid #e5e5e5;
		padding: 50px 0px 50px 0px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.price-table:hover{
		border: 1px solid #777777;
	}
	
	.table-special{
		border: 1px solid #777777;
	}

	
	.price-head h1{
		margin-bottom: 20px;
	}
	
	.price-body ul li{
		margin: 20px 0px 0px 0px;
	}
	
	.price-table .button{
		margin-top: 50px;
	}
	
	.price-value{
		margin-bottom: 20px;
	}
	
	
	
	
	
/*========================

	12. Blog

==========================*/


	
	#blog-masonry{
		position: relative;
		padding-bottom: 150px;
		
	}
	
	#blog{
		position: relative;
		padding-bottom: 150px;
		
	}
	
	
	
/* Blog Post
----------------------------*/		




	#blog-post{
		padding-bottom: 50px;
	}
	
	.blog-post{
		margin-bottom: 50px;
	}
	
	.blog-post h3{
		letter-spacing: 1px;
		word-spacing: 3px;
		padding: 20px 0px 20px 0px;
		margin: 0px;
	}
	
	.blog-post ul{
		margin: 0px;
	}
	
	.blog-post ul li{
		display: inline-block;
		padding-left: 15px;
		border-left: 1px solid #b2b2b2;
		margin: 0px 0px 20px 20px;
	}

	
	.blog-post ul li a{
		margin-left: 3px;
	}
	
	.blog-post img{
		opacity: 0.9;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.blog-post img:hover{
		opacity: 1;
	}

	.blog-post p{
		line-height: 1.6;
	}
	
	.post-text p{
		margin-bottom: 20px;
	}
	
	.blog-post .button{
		margin-top: 20px;
	}
	
	.blog-masonry .blog-post{
		margin: 0px 50px 50px 0px
	}
	
	
	
/* Blog Sidebar
----------------------------*/	



	
	.sidebar{
		margin: 0px 50px 50px 50px;
	}
	
	.sidebar ul{
		margin-top: 20px;
	}
	
	.sidebar ul li{
		margin-top: 20px;
		line-height: 1.6;
	}
	
	.tags li{
		display: inline-block;
		padding: 8px;
		margin: 3px;
		border: 1px solid #777777;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.tags li:hover a{
		color: #fff;		
	}
	
	
	.tags li:hover{
		background: #191919;
		border: 1px solid #191919;
	}
	
	
	#subscribe{
		position: relative;
		padding-top: 150px;
		padding-bottom: 80px;
	}
	
	
	
	
/* Comments
----------------------------*/	



	
	#comments{
		padding-bottom: 150px;
	}
	
	.comment-form{
		float: left;
		text-align: left;
	}
	
	.form input{
		padding: 10px;
		margin-bottom: 20px;
		float: left;
		width: 100%;
	}
	
	.form .button{
		margin-top: 20px;
	}

	.comment-form{
		margin-bottom: 50px;
	}
	
	.comment-form h3{
		margin-bottom: 20px;
	}

	.form textarea{
		width: 100%;
		padding: 10px;
	}
	
	.posted-comment{
		background: #f4f4f4;
		margin-top: 50px;
		padding: 20px;
	}
	
	.posted-comment h3{
		letter-spacing: 1px;
		word-spacing: 2px;
	}
	
	.posted-comment img{
		border-radius: 100%;
		width: 50px;
		margin-bottom: 20px;
	}
	
	.posted-comment span{
		font-size: 11px;
	}
	
	.posted-comment p{
		margin-top: 20px;
		margin-bottom: 20px;
		line-height: 1.6;
	}
	
	
	
/*========================

	13. Map

==========================*/



	
	#map_canvas {
		height: 500px;
		width: 100%;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;

	}
	
	.map-full{
		margin-bottom: 50px;
	}
	

	
	
	
/*========================

	14. Contact

==========================*/	


	
	#contact{
		padding-bottom: 150px;
		background: #fff;

	}

	#contact  form input,form textarea {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-bottom: 10px;
		margin-bottom: 20px;
		transition: none;
		background: transparent;
		width: 100%;
		border: none;
		color: #191919;
		float: left;
		border-bottom: 2px solid #191919;
		font-size: 16px;
		font-weight: 500;
		word-spacing: 2.5px;
		text-align: left;
	}
	
	
	#message{
		
		height: 100px;
	}

	#contact-form{
		text-align:left;
	
	}

	#contact-form p span {
		display: block;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	
	#contact-form p{
		margin-top: 15px;
	}
	
	#contact-form  i{
		margin-right: 5px;
	}
	
	#contact-form  p{
		float: right;
	}
	
	.contact-full{
		margin-top: 100px;
	}
	
	.contact-wrapper{
		max-width: 800px;
		background: red;
	}
	
	.contact-btn{
		float: left;
		border: none;
	}

	::-webkit-input-placeholder {
	 color: #777777;
	}

	#contact-form  label {
		cursor: text;
		display: block;
		margin: 0;
		position: relative;
		top: 0;
		width: 100%;
	}
	:-moz-placeholder { /* Firefox 18- */
	 color: #777777;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	 color: #777777;
	}

	:-ms-input-placeholder {
	 color: #777777;
	}

	#contact-form .error {
		bottom: 12px;
		font-family: inherit;
		font-size: 14px;
		font-weight: normal;
		left: auto;
		letter-spacing: 0;
		position: absolute;
		right: 20px;
		text-transform: capitalize;
		width: auto;
	}

	.response h3 {
		letter-spacing: 2px;
		margin: 10px 0 25px;
		text-transform: uppercase;
	}


	
	
	
/*========================

	15. Footer

==========================*/


	#footer{
		padding-bottom: 150px;
	}
	
	.footer-logo img{
		width: 40px;
	}
	
	.footer-social li{
		display: inline-block;
		margin: 20px 0px 0px 20px;
		
	}
	
	.footer-social{
		margin-bottom: 0px;
	}
	
	.footer-social li i{
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		transform: scale(0.9);
	}
	
	.footer-details p{
		margin-top: 20px;
		margin-bottom: 0px;
		line-height: 1;
	}
	
	.footer-details a{
		margin-left: 5px;
	}
	

/*========================

	16. Shop

==========================*/
	
	
	#shop{
		position: relative;
		padding-bottom: 150px;
		
	}
	
	
	
	
/* Products
----------------------------*/	




	.shop-post{
		margin-bottom: 50px;
	}
	
	.shop-post h3{
		letter-spacing: 1px;
		word-spacing: 3px;
		padding: 20px 0px 20px 0px;
	}
	
	.shop-post ul li{
		display: inline-block;
		padding-left: 20px;
		border-left: 1px solid #b2b2b2;
		margin: 0px 0px 20px 20px;
	}
	
	.shop-post ul li a{
		margin-left: 3px;
	}
	
	.shop-post img{
		opacity: 0.9;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.shop-post img:hover{
		opacity: 1;
	}

	.shop-post p{
		line-height: 1.6;
	}

	.shop-post .button{
		margin-top: 20px;
	}

	.shop-masonry .shop-post{
		margin: 0px 50px 50px 0px
	}
	
	.product-desc{
		margin-top: 20px;
		margin-bottom: 0px;
	}
	
	.single-product{
		margin-bottom: 50px;
	}
	
	
	
/* Cart
----------------------------*/	




	#cart{
		position: relative;
		padding-bottom: 150px;
	}
	
	.cart-item{
		padding-top: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid #e5e5e5;
	}

	.cart-item img{
		float: left;
	}
	
	.cart-item ul li{
		margin-bottom: 5px;
	}

	
	
	
	
	
	
/*========================

	17. Responsive

==========================*/


	
	
/* Resolution Under 768px
----------------------------*/	
	
	
	
	@media all and (max-width: 768px) {
		

		.map-half{
			margin-bottom: 50px;
		}
		
		.sidebar{
			margin: 0px 0px 50px 0px;
		}

		.sections{
			padding-top: 0px;
		}

		.uk-offcanvas-bar{
			width: 235px;
			background: #191919;
			overflow-x: hidden;
		}
		
		.mobile-blog-fix,
		.mobile-service-fix{
			margin-bottom: 50px !important;
		}
		
		.price-table{
			margin-bottom: 50px;
		}
		
		
	}
	

	
	
/* Resolution Under 530px
----------------------------*/

	
	
	@media all and (max-width: 530px) {


		
		.loader-img img{
			left: 45%;
		}
		
		.blog-post ul li,
		.shop-post ul li{
			display: block;
			padding-left: 15px;
			border-left: 1px solid #b2b2b2;
			
		}
		
		.blog-post ul li,
		.shop-post ul li{
			margin: 0px 0px 20px 0px;
		}
		
		.blog-post .no-margin,
		.shop-post .no-margin		{
			margin: 0px 0px 20px 0px !important;
		
		}
		
		.blog-post .no-padding,
		.shop-post .no-padding{
			padding-left: 15px !important;
		} 
		
		.blog-post .no-border,
		.shop-post .no-border{
			border-left: 1px solid #b2b2b2 !important;
		} 
		
		.multi-img img{
			margin-left: 25px;
			width: 45px;
		}
		
		.simple-big h2{
			font-size: 3em;
		}

	}
	

	
	
/* Resolution Under 450px
----------------------------*/	




	@media all and (max-width: 450px) {

		
		.loader-img img{
			left: 42%;
		}
		
		#map_canvas {
			height: 350px;


		}
		
		#contact-form p{
			float: left;
			margin-top: 20px;
		}
		
		.service .separator-small{
			display: none;
		}
		
		.post-info .no-margin{
			margin: 0px 0px 20px 0px !important;
			
		}
		
		.post-info .no-padding{
			padding-left: 20px !important;
		}
		
		.post-info .no-border{
			border-left: 1px solid #b2b2b2 !important;
		}
			
		.simple-big h2{
			font-size: 2.5em;
		}
		
	}
	
	
	
/* Resolution Under 400px
----------------------------*/	


	
	@media all and (max-width: 400px) {
		
		.big-text h2{
			width: 100%;
		}
		
		.f-large {
			font-size: 2.3em;
		}
		
		
		.f-medium,
		.f-expanded{
			font-size: 20px;
		}

		.big-text h2{
			line-height: 47px;
		}
		
		.works-filter li,
		.works-filter-full li{
			margin-right: 18px;
		
		}

	}
	
/* Resolution Under 375px
----------------------------*/	

	
	@media all and (max-width: 375px) {

		.f-big{
			font-size: 20px;
		}

	}
	
	
	
	
	
	
	
	
	
	
	
	
	#preview{
		padding-top: 200px;
	}
	
	#header-index{
		padding-top: 100px;
		padding-bottom: 120px;
	}
	
	#preview-portfolio,
	#preview-blog,
	#preview-project,
	#preview-other,
	#preview-home{
		padding-top: 100px;
	}
	
	.index-logo{
		width: 50px;
		display: block;
		margin-bottom: 50px;
	}
	
	.index-buttons{
		margin-top: 50px;
	}
	
	.index .button{
		margin: 5px 10px 5px 0px;
	}
	
	.index-sep{
		margin-bottom: 120px;
		width: 80px;
	}
	
	.previews{
		margin-bottom: 100px;
	}
	
	.previews img{
		border: 6px solid #191919;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.previews img:hover{
		
		border: 2px solid #fff;
		-moz-box-shadow: 0px 0px 5px #777777;
		-webkit-box-shadow: 0px 0px 5px #777777;
		box-shadow: 0px 0px 5px #777777;


	}
	
	.previews p{
		margin-top: 20px;
	}
	
	.pre-logo img{
		border-radius: 100%;
	}